<div class='repo'>
  <h3><a href='http://tinywp.dirtysuds.com/'>TinyWP</a></h3>
  <span class='desc'>Small WordPress Installation Program</span>
</div>
<div class='repo'>
  <h3><a href='http://wordpress.org/extend/plugins/dirtysuds-category-thumbnail/'>Category Thumbnail</a></h3>
  <span class='desc'>Adds shortcode `[catthumb]` to embed a thumbnail image for a category.</span>
</div>
<div class='repo'>
  <h3><a href='http://wordpress.org/extend/plugins/gallery-excerpt/'>Gallery Excerpt</a></h3>
  <span class='desc'>Replace the excerpt for posts with the post type 'Gallery' to a row of images from the post.</span>
</div>
<div class='repo'>
  <h3><a href='http://wordpress.org/extend/plugins/offsite-post/'>Offsite Post</a></h3>
  <span class='desc'>Make a post redirect to an external URL</span>
</div>
<div class='repo'>
  <h3><a href='http://wordpress.org/extend/plugins/dirtysuds-embed-pdf/'>Embed PDF</a></h3>
  <span class='desc'>Adds pseudo oembed support for PDF documents</span>
</div>
<div class='repo'>
  <h3><a href='http://wordpress.org/extend/plugins/dirty-suds-export-to-indesign/'>Export to InDesign</a></h3>
  <span class='desc'>Export a post as Adobe TaggedText for import to InDesign</span>
</div>
<div class='repo'>
  <h3><a href='http://wordpress.org/extend/plugins/dirtysuds-postlist/'>Postlist Shortcode</a></h3>
  <span class='desc'>Adds shortcode `[postlist]` for embedding a list of posts into a page</span>
</div>
<div class='repo'>
  <h3><a href='http://wordpress.org/extend/plugins/dirtysuds-embed-youtube-iframe/'>Better YouTube Embeds</a></h3>
  <span class='desc'>Embeds YouTube videos in a way compatible with Desktop, iPhone, iPad, Android and other mobile browsers.</span>
</div>
<div class='repo'>
  <h3><a href='http://wordpress.org/extend/plugins/dirtysuds-embed-rss/'>Embed RSS</a></h3>
  <span class='desc'>Adds pseudo oembed support for RSS feeds</span>
</div>
<div class='repo'>
  <h3><a href='http://wordpress.org/extend/plugins/dirtysuds-kill-howdy/'>Kill Howdy</a></h3>
  <span class='desc'>Changes the text **Howdy** in the admin interface to a different greeting.</span>
</div>