{% capture header %}

{% include head_charset.html %}
{% include head_title.html %}
{% include head_canonical.html %}
{% include head_nextprev.html %}
{% include head_metadata.html %}
{% include head_rss.html %}
{% include head_stylesheets.html %}
{% include head_fonts.html %}
{% include viewport.html %}
{% include modernizr.html %}
{% include mathjax.html %}
{% include twitter.html %}

{% endcapture %}{{ header | strip_newlines | replace:'	',' ' | replace:'  ',' ' | replace:'  ',' ' | replace:'  ',' ' | replace:'  ',' ' | replace:'  ',' ' | replace:'  ',' ' | replace:'  ',' ' | replace:'  ',' ' | replace:'  ',' ' | replace:'> <','><' }}
