{% capture header %}

{% if page.title %}
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ page.title }}" />
{% else %}
	<meta property="og:type" content="website" />	
{% endif %}

{% include meta.html property="og:site_name" content=site.title %}
{% include meta.html property="og:image" content=page.thumbnail %}

{% capture page_url %}{{ site.url }}{{ page.url | replace:'/index.html','/' }}{% endcapture %}
{% include meta.html property="og:url" content=page_url %}

{% capture page_date %}{{page.date | date_to_xmlschema}}{% endcapture %}
{% include meta.html property="article:published_time" content=page_date %}

{% if site.owner_link %}
	<meta property="article:author" content="{{ site.owner_link }}" />
{% endif %}

{% endcapture %}{{ header | strip_newlines }}
