{% capture header %}

{% if page.title %}
<meta property="og:type" content="article" />
{% else %}
<meta property="og:type" content="website" />	
{% endif %}

{% include meta.html property="og:title" content=page.title %}

{% include meta.html property="og:site_name" content=site.title %}
{% include meta.html property="og:image" content=page.thumbnail %}

{% capture page_url %}{{ site.url }}{{ page.url | replace:'/index.html','/' }}{% endcapture %}
{% include meta.html property="og:url" content=page_url %}

{% if page.date %}{% capture page_date %}{{page.date | date_to_xmlschema}}{% endcapture %}{% endif %}
{% include meta.html property="article:published_time" content=page_date %}

{% include meta.html property="article:author" content=page.author.url %}
{% include meta.html rel="author" href=page.author.url %}

{% endcapture %}{{ header | strip_newlines }}
