#disqus_thread,#dsq-comments,.dsq-comment,.dsq-comment-meta,.dsq-comment-meta * {display:block;width:100%;margin:0;padding:0}
#disqus_thread {padding-top:4em}
.dsq-comment {position:relative;margin-bottom:1em;border-radius:4px;
	background: #eeeeee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
}
.dsq-comment-body {padding:0!important}
.dsq-comment .dsq-avatar img {max-height:36px;max-width:36px;float:left;position:absolute;top:4px;left:4px;border-top-left-radius:4px;}
.dsq-comment-header {height:36px;line-height:36px;padding:4px 0 0 44px!important;margin:0!important;border:0!important;background:none!important}
.dsq-comment-footer {padding:4px;margin:0;text-align:right;font-size:12px;line-height:12px}
.dsq-comment-message {margin:4px 3px 0!important;padding:0 1em;background:#fff;background:rgba(255,255,255,0.8);overflow:hidden}
.dsq-comment-message p {text-indent:0}
.dsq-comment-actions {position:absolute;right:6em;z-index:5}
.dsq-comment-moderate{position:absolute;left:1em;text-align:left;width:100px}