@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);
@import url(http://fonts.googleapis.com/css?family=Play);
html,body {
	background:#eee;
	color:#424242;
	font-family: 'Sorts Mill Goudy', serif;
	margin:0;
	padding:0;
}
a {color:#424299}
a:hover,a:focus {color:#4242ff}
h1 {
	margin:0 0 0 10px;
	padding:0;
	color:#666;
	font-family: 'Play', sans-serif;
}
nav {
	position:fixed;
	left:0;
	top:80px;
}
nav a {
	display:block;
	text-align:right;
	background:#666;
	color:#fff;
	padding:5px;
	margin-bottom:1em;
	font-size:0.6em;
	width:100px;
	text-decoration:none;
}
nav a:hover {
	background:#000;
	color:#fff;
}
article,.content {
	margin:30px 0 0 140px;
	position:relative;
	max-width:900px;
}
h2,h3,h4,h5,h6,.postlist {
	margin:0;
	padding:0;
	line-height:0.8em;
	font-family: 'Play', sans-serif;
}
h2 a,h3 a,h4 a,h5 a,h6 a,.postlist a {
	text-decoration:none;
}
.postlist{
	list-style:none;
	text-indent:0;
	margin:0;
	padding:0;
}
#footer {
	position:fixed;
	bottom:10px;
	left:25px;
}
.date {
	position:absolute;
	top:0;
	right:0;
	color:#666;
}
#githubbanner {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	z-index:0;
	padding:0;
	margin:0;
	color:transparent;
	background:transparent url('http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png') no-repeat top right;
	height:140px;
	width:140px;
	border-radius: 0 0 0 140px;
}