<!DOCTYPE html>
<html{% if site.lang %} lang='{{site.lang}}'{% endif %}>
	<head>
		<title>
			{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}
		</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
		{% if site.feedurl %}<link rel="alternate" type="application/atom+xml" href="{{ site.feedurl }}" />{% else %}<link rel="alternate" type="application/atom+xml" href="/atom.xml" />{% endif %}
		{% if site.license %}<link rel="license" href="{{ site.license }}" />{% endif %}
		{% if site.copyright %}<link rel="copyright" href="{{ site.copyright }}" />{% endif %}
		{% capture homeURL %}{{site.baseurl}}index.html{% endcapture %}{% if site.owner_link %}{% if page.url == homeURL %}<link rel="me" href="{{ site.owner_link }}" />{% else %}<link rel="author" href="{{ site.owner_link }}" />{% endif %}{% endif %}
  </head>
	<body>
		<h1>{{ site.title }}</h1>
		<nav>
			{% include nav.html %}
		</nav>
		{{ content }}
    <div id='footer'>
      {% include license.html %}
    </div>
    <a href='https://github.com/pathawks/pathawks.github.com' id='githubbanner' title='Fork me on GitHub'>Fork me on GitHub</a>
	</body>
</html>