---
layout: minify-xml
---
<?xml version='1.0' encoding='utf-8'?>
<rdf:RDF
	xml:lang="en"
	xmlns:air="http://www.daml.org/2001/10/html/airport-ont#"
	xmlns:contact="http://www.w3.org/2000/10/swap/pim/contact#"
	xmlns:daml="http://www.daml.org/2001/03/daml+oil#"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:foaf="http://xmlns.com/foaf/0.1/"
	xmlns:pos="http://www.w3.org/2003/01/geo/wgs84_pos#"
	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
	xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
	xmlns:wn="http://xmlns.com/wordnet/1.6/"
	xmlns:wot="http://xmlns.com/wot/0.1/"
	xmlns:wordnet="http://xmlns.com/wordnet/1.6/"
	>
{{ content }}
</rdf:RDF>
